Repository djaiss/wassup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

feat: create organizations
  app/Actions/CreateOrganization.php
  app/Models/Member.php
  app/Models/Organization.php
  app/Models/User.php
  database/factories/OrganizationFactory.php
  database/migrations/2024_08_29_202303_create_organizations_table.php
  pint.json
  tests/Unit/Actions/CreateOrganizationTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/CreateOrganization.php
  app/Models/Member.php
  app/Models/Organization.php
  app/Providers/FortifyServiceProvider.php
  bootstrap/app.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/logging.php
  config/session.php
  public/index.php
  rector.php
  routes/web.php
  tests/Feature/EmailVerificationTest.php
  tests/Feature/PasswordResetTest.php
  tests/Unit/Actions/CreateOrganizationTest.php
  tests/Unit/Models/MemberTest.php
  tests/Unit/Models/OrganizationTest.php
  tests/Unit/Models/UserTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/DestroyOrganization.php
  app/Http/Controllers/OrganizationController.php
  app/Livewire/Organizations/Create.php
  resources/views/components/button.blade.php
  resources/views/components/secondary-button.blade.php
  resources/views/components/welcome.blade.php
  resources/views/dashboard.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/organizations/create.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/new.blade.php
  routes/web.php
  tests/Unit/Actions/DestroyOrganizationTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Update create.blade.php
  resources/views/livewire/organizations/create.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/DestroyOrganization.php
  app/Http/Controllers/OrganizationController.php
  app/Livewire/Organizations/Create.php
  routes/web.php
  tests/Unit/Actions/DestroyOrganizationTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/Controllers/OrganizationController.php
  app/Livewire/Organizations/Create.php
  composer.json
  composer.lock
  config/debugbar.php
  resources/views/components/secondary-button.blade.php
  resources/views/dashboard.blade.php
  resources/views/livewire/organizations/create.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/index.blade.php
  resources/views/organizations/new.blade.php
  routes/web.php
  storage/debugbar/.gitignore
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Update index.blade.php
  resources/views/organizations/index.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Http/Controllers/OrganizationController.php
  app/Livewire/Organizations/Create.php
  config/debugbar.php
  routes/web.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/Controllers/OrganizationController.php
  app/Http/Middleware/CheckOrganization.php
  app/Livewire/Organizations/Create.php
  app/View/Components/AppLayout.php
  app/View/Components/GuestLayout.php
  bootstrap/app.php
  composer.lock
  config/app.php
  resources/views/layouts/app.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/index.blade.php
  resources/views/organizations/new.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Update navigation-menu.blade.php
  resources/views/navigation-menu.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Http/Controllers/OrganizationController.php
  app/Http/Middleware/CheckOrganization.php
  app/View/Components/AppLayout.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/Middleware/CheckOrganization.php
  app/Livewire/Organizations/Create.php
  app/Models/Member.php
  composer.json
  composer.lock
  resources/views/organizations/new.blade.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/Auth/TwoFactorAuthenticationSettingsTest.php
  tests/Feature/Auth/UpdatePasswordTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/Livewire/Organizations/CreateTest.php
  tests/Feature/Organizations/ManageOrganizationTest.php
  tests/Feature/Organizations/MemberPermissionTest.php
  tests/Feature/Settings/ApiTokenPermissionsTest.php
  tests/Feature/Settings/AuthenticationTest.php
  tests/Feature/Settings/BrowserSessionsTest.php
  tests/Feature/Settings/CreateApiTokenTest.php
  tests/Feature/Settings/DeleteAccountTest.php
  tests/Feature/Settings/DeleteApiTokenTest.php
  tests/Feature/Settings/ProfileInformationTest.php
  tests/TestCase.php
  tests/Unit/Models/MemberTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  tests/Feature/Livewire/Organizations/CreateTest.php
  tests/Feature/Organizations/ManageOrganizationTest.php
  tests/Feature/Organizations/MemberPermissionTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Update tests.yml
  .github/workflows/tests.yml
Due: none

feat: concept of member permissions
  .cursorrules
  app/Actions/CreateOrganization.php
  app/Enums/Permission.php
  app/Http/Controllers/OrganizationSettingsController.php
  app/Models/Member.php
  app/View/Components/AppLayout.php
  composer.json
  database/factories/MemberFactory.php
  database/migrations/2024_08_29_204100_create_members_table.php
  resources/views/layouts/app.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/settings/index.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
  tests/Feature/Organizations/ManageOrganizationTest.php
  tests/TestCase.php
  tests/Unit/Actions/CreateOrganizationTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  resources/views/components/dropdown-link.blade.php
  resources/views/components/dropdown.blade.php
  resources/views/components/nav-link.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Http/Controllers/OrganizationSettingsController.php
  app/View/Components/AppLayout.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Update composer.lock
  composer.lock
Due: none

feat: concept of member permissions (#12)
  .cursorrules
  app/Actions/CreateOrganization.php
  app/Enums/Permission.php
  app/Http/Controllers/OrganizationSettingsController.php
  app/Models/Member.php
  app/View/Components/AppLayout.php
  composer.json
  composer.lock
  database/factories/MemberFactory.php
  database/migrations/2024_08_29_204100_create_members_table.php
  resources/views/components/dropdown-link.blade.php
  resources/views/components/dropdown.blade.php
  resources/views/components/nav-link.blade.php
  resources/views/layouts/app.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/settings/index.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
  tests/Feature/Organizations/ManageOrganizationTest.php
  tests/TestCase.php
  tests/Unit/Actions/CreateOrganizationTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

feat: mockup
  app/Http/Controllers/MemberController.php
  bun.lockb
  composer.lock
  package-lock.json
  package.json
  resources/css/app.css
  resources/views/navigation-menu.blade.php
  resources/views/organizations/members/index.blade.php
  resources/views/organizations/settings/index.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Update show.blade.php
  resources/views/organizations/show.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Http/Controllers/MemberController.php
  routes/web.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Models/Team.php
  bun.lockb
  composer.lock
  database/factories/TeamFactory.php
  database/migrations/2024_09_06_233912_create_teams_table.php
  package.json
  resources/views/organizations/show.blade.php
  tests/Unit/Models/TeamTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  .DS_Store
  app/Actions/CreateOrganization.php
  app/Actions/JoinOrganization.php
  app/Http/Controllers/JoinOrganizationController.php
  app/Http/Controllers/PeopleController.php
  app/Livewire/Organizations/Join.php
  app/Models/Organization.php
  bun.lockb
  composer.lock
  database/factories/OrganizationFactory.php
  database/migrations/2024_08_29_202303_create_organizations_table.php
  package-lock.json
  package.json
  phpstan.neon
  public/.DS_Store
  public/img/.DS_Store
  public/img/login.png
  public/img/logo.png
  public/img/register.png
  public/img/welcome.png
  resources/css/app.css
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/components/application-mark.blade.php
  resources/views/livewire/organizations/join.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/index.blade.php
  resources/views/organizations/join.blade.php
  resources/views/organizations/people/index.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
  tests/Unit/Actions/CreateOrganizationTest.php
  tests/Unit/Actions/JoinOrganizationTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  resources/views/auth/login.blade.php
  resources/views/organizations/index.blade.php
  resources/views/organizations/people/index.blade.php
  resources/views/organizations/show.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/JoinOrganization.php
  app/Http/Controllers/JoinOrganizationController.php
  app/Livewire/Organizations/Join.php
  tests/Unit/Actions/JoinOrganizationTest.php
  tests/Unit/Models/TeamTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/CreateCycle.php
  app/Models/Cycle.php
  bun.lockb
  composer.lock
  database/factories/CycleFactory.php
  database/migrations/2024_09_14_013916_create_cycles_table.php
  tests/Unit/Actions/CreateCycleTest.php
  tests/Unit/Models/CycleTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/CreateCycle.php
  tests/Unit/Actions/CreateCycleTest.php
  tests/Unit/Models/CycleTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/DestroyCycle.php
  app/Actions/UpdateCycle.php
  app/Models/Cycle.php
  bun.lockb
  composer.lock
  database/factories/CycleFactory.php
  database/migrations/2024_09_14_013916_create_cycles_table.php
  package.json
  resources/css/app.css
  resources/views/layouts/app.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/show.blade.php
  tests/Unit/Actions/DestroyCycleTest.php
  tests/Unit/Actions/UpdateCycleTest.php
  zellij_layout.kdl
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  resources/views/layouts/app.blade.php
  resources/views/organizations/show.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/DestroyCycle.php
  app/Actions/UpdateCycle.php
  tests/Unit/Actions/DestroyCycleTest.php
  tests/Unit/Actions/UpdateCycleTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Update 2024_09_06_233912_create_teams_table.php
  database/migrations/2024_09_06_233912_create_teams_table.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Update 2024_09_14_013916_create_cycles_table.php
  database/migrations/2024_09_14_013916_create_cycles_table.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/CreateCycle.php
  app/Actions/UpdateCycle.php
  app/Http/Controllers/CycleController.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Models/Cycle.php
  bun.lockb
  composer.lock
  database/migrations/2024_09_14_013916_create_cycles_table.php
  package.json
  resources/views/livewire/organizations/cycles/create.blade.php
  resources/views/organizations/cycles/new.blade.php
  routes/web.php
  tests/Unit/Actions/CreateCycleTest.php
  tests/Unit/Actions/UpdateCycleTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Update create.blade.php
  resources/views/livewire/organizations/cycles/create.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Http/Controllers/CycleController.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.blade.php)
  ./vendor/bin/pint: any of: *.php
  ./vendor/bin/rector: any of: *.php
