Repository djaiss/wassup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

.lintstagedrc.json:

{
  "*.css": ["prettier --write"],
  "*.blade.php": ["prettier --write"],
  "*.php": ["./vendor/bin/pint", "./vendor/bin/rector"]
}

wip
  .DS_Store
  .gitignore
  app/Actions/CreateCycle.php
  app/Actions/ToggleCycle.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/OrganizationController.php
  app/Http/Middleware/CheckCycle.php
  app/Http/ViewModels/CycleViewModel.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Livewire/Organizations/Cycles/Toggle.php
  app/Models/Cycle.php
  app/Models/Organization.php
  bootstrap/app.php
  public/.DS_Store
  public/img/cycle-blank.png
  resources/views/components/button.blade.php
  resources/views/components/textarea.blade.php
  resources/views/livewire/organizations/cycles/create.blade.php
  resources/views/livewire/organizations/cycles/toggle.blade.php
  resources/views/organizations/cycles/new.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
  tests/Unit/Actions/ToggleCycleTest.php
  tests/Unit/Models/CycleTest.php
  tests/Unit/Models/OrganizationTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/ToggleCycle.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/OrganizationController.php
  app/Http/Middleware/CheckCycle.php
  app/Http/ViewModels/CycleViewModel.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Livewire/Organizations/Cycles/Toggle.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/Controllers/CycleController.php
  resources/views/organizations/cycles/delete.blade.php
  resources/views/organizations/new.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/Controllers/CycleController.php
  resources/views/organizations/cycles/delete.blade.php
  resources/views/organizations/show.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/Controllers/CycleController.php
  resources/views/organizations/cycles/edit.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

feat: cycle caching
  app/Cache/CycleCache.php
  app/Helpers/CacheHelper.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/GoalController.php
  app/Http/Controllers/OrganizationController.php
  app/Jobs/RefreshCycleCache.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Livewire/Organizations/Cycles/Toggle.php
  app/Traits/CacheIdentifier.php
  bun.lockb
  composer.lock
  database/migrations/2024_09_23_000420_create_goals_table.php
  package.json
  resources/views/livewire/organizations/cycles/create.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Cache/CycleCache.php
  app/Helpers/CacheHelper.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/OrganizationController.php
  app/Jobs/RefreshCycleCache.php
  app/Livewire/Organizations/Cycles/Create.php
  database/migrations/2024_09_23_000420_create_goals_table.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

feat: cycle caching (#14)
  app/Cache/CycleCache.php
  app/Helpers/CacheHelper.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/GoalController.php
  app/Http/Controllers/OrganizationController.php
  app/Jobs/RefreshCycleCache.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Livewire/Organizations/Cycles/Toggle.php
  app/Traits/CacheIdentifier.php
  bun.lockb
  composer.lock
  database/migrations/2024_09_23_000420_create_goals_table.php
  package.json
  resources/views/livewire/organizations/cycles/create.blade.php
  routes/web.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Jobs/RefreshCycleCache.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

fix: fix cycle homepage
  app/Cache/CycleCache.php
  app/Http/Controllers/OrganizationController.php
  bun.lockb
  composer.lock
  database/factories/CycleFactory.php
  package.json
  tests/Unit/ViewModels/CycleViewModelTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Cache/CycleCache.php
  app/Helpers/CacheHelper.php
  app/Http/Controllers/CycleController.php
  app/Jobs/RefreshCycleCache.php
  app/Livewire/Organizations/Cycles/Create.php
  database/migrations/2024_09_23_000420_create_goals_table.php
  tests/Unit/ViewModels/CycleViewModelTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

fix: fix cycle (#15)
  app/Cache/CycleCache.php
  app/Http/Controllers/OrganizationController.php
  app/Jobs/RefreshCycleCache.php
  bun.lockb
  composer.lock
  database/factories/CycleFactory.php
  package.json
  tests/Unit/ViewModels/CycleViewModelTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

feat: goals
  app/Models/Cycle.php
  app/Models/Goal.php
  composer.lock
  database/factories/GoalFactory.php
  database/migrations/2024_09_23_000420_create_goals_table.php
  database/migrations/2024_09_30_125252_create_goal_user_table.php
  resources/views/organizations/show.blade.php
  tests/Unit/Models/CycleTest.php
  tests/Unit/Models/GoalTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  database/migrations/2024_09_30_125252_create_goal_user_table.php
  resources/views/organizations/show.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Models/Goal.php
  database/factories/GoalFactory.php
  tests/Unit/Models/GoalTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/AddMemberToGoal.php
  app/Actions/CreateGoal.php
  app/Actions/DestroyGoal.php
  app/Actions/UpdateGoal.php
  app/Http/Controllers/GoalController.php
  composer.lock
  database/factories/CycleFactory.php
  public/img/goal-blank.png
  resources/views/organizations/cycles/goals/index.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
  tests/Feature/Organizations/ManageCycleTest.php
  tests/Unit/Actions/AddMemberToGoalTest.php
  tests/Unit/Actions/CreateGoalTest.php
  tests/Unit/Actions/DestroyGoalTest.php
  tests/Unit/Actions/UpdateGoalTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/AddMemberToGoal.php
  app/Actions/CreateGoal.php
  app/Actions/DestroyGoal.php
  app/Actions/UpdateGoal.php
  tests/Feature/Organizations/ManageCycleTest.php
  tests/Unit/Actions/AddMemberToGoalTest.php
  tests/Unit/Actions/CreateGoalTest.php
  tests/Unit/Actions/DestroyGoalTest.php
  tests/Unit/Actions/UpdateGoalTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/CreateOrganization.php
  app/Actions/JoinOrganization.php
  app/Cache/CycleCache.php
  app/Console/Commands/SetupDummyAccount.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/GoalController.php
  app/Http/Controllers/OrganizationController.php
  app/Http/Middleware/CheckOrganization.php
  app/Http/ViewModels/GoalViewModel.php
  app/Jobs/RefreshCycleCache.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Livewire/Organizations/Goals/Goal.php
  bun.lockb
  composer.json
  composer.lock
  database/migrations/2024_09_23_000420_create_goals_table.php
  package.json
  resources/css/app.css
  resources/js/app.js
  resources/views/components/textarea.blade.php
  resources/views/layouts/app.blade.php
  resources/views/livewire/organizations/cycles/create.blade.php
  resources/views/livewire/organizations/goals/goal.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/cycles/edit.blade.php
  resources/views/organizations/cycles/goals/index.blade.php
  resources/views/organizations/show.blade.php
  tests/Feature/Controllers/CycleControllerTest.php
  tests/Feature/Organizations/ManageCycleTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  resources/views/livewire/organizations/cycles/create.blade.php
  resources/views/livewire/organizations/goals/goal.blade.php
  resources/views/organizations/cycles/edit.blade.php
  resources/views/organizations/cycles/goals/index.blade.php
  resources/views/organizations/show.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Console/Commands/SetupDummyAccount.php
  app/Http/Controllers/CycleController.php
  app/Http/Controllers/GoalController.php
  app/Http/Controllers/OrganizationController.php
  app/Http/ViewModels/GoalViewModel.php
  app/Livewire/Organizations/Cycles/Create.php
  app/Livewire/Organizations/Goals/Goal.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Actions/AddMemberToGoal.php
  app/Actions/CreateCycle.php
  app/Actions/CreateGoal.php
  app/Actions/UpdateGoal.php
  app/Exceptions/OrganizationMismatchException.php
  app/Http/ViewModels/GoalViewModel.php
  app/Livewire/Organizations/Goals/Goal.php
  app/Livewire/Organizations/Goals/GoalDetails.php
  app/Models/Goal.php
  app/Models/Member.php
  app/Providers/AppServiceProvider.php
  bun.lockb
  composer.lock
  database/migrations/2024_09_23_000420_create_goals_table.php
  database/migrations/2024_09_30_125252_create_goal_user_table.php
  package.json
  resources/views/livewire/organizations/goals/goal.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/cycles/goals/index.blade.php
  resources/views/organizations/show.blade.php
  tests/Unit/Actions/AddMemberToGoalTest.php
  tests/Unit/Actions/CreateCycleTest.php
  tests/Unit/Actions/CreateGoalTest.php
  tests/Unit/Actions/UpdateGoalTest.php
  tests/Unit/Models/GoalTest.php
  tests/Unit/Models/MemberTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

wip
  app/Http/ViewModels/GoalViewModel.php
  app/Livewire/Organizations/Goals/GoalDetails.php
  resources/views/organizations/cycles/goals/index.blade.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  app/Actions/CreateCycle.php
  app/Actions/CreateGoal.php
  app/Livewire/Organizations/Goals/GoalDetails.php
  app/Models/Goal.php
  app/Providers/AppServiceProvider.php
  tests/Unit/Actions/CreateCycleTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wip
  resources/views/livewire/organizations/goals/goal.blade.php
  tests/Feature/Livewire/Organizations/Goals/GoalDetailsTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  tests/Feature/Livewire/Organizations/Goals/GoalDetailsTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

wpi
  bun.lockb
  composer.lock
  package.json
Due: none

wip
  .cursorrules
  composer.json
  tests/Unit/ViewModels/GoalViewModelTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Apply fixes from StyleCI
  tests/Unit/ViewModels/GoalViewModelTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

Update GoalViewModelTest.php
  tests/Unit/ViewModels/GoalViewModelTest.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

chore: upgrade to php 8.4
  .github/workflows/static.yml
  .github/workflows/tests.yml
  README.md
  composer.json
  composer.lock
Due: none

Create .env.ci.pgsql
  tests/.env.ci.pgsql
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

chore: upgrade to php 8.4 (#18)
  .github/workflows/static.yml
  .github/workflows/tests.yml
  README.md
  composer.json
  composer.lock
  tests/.env.ci.pgsql
Due: none

chore: better goal placeholder
  app/Livewire/Organizations/Goals/GoalDetails.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

chore: better goal placeholder (#19)
  app/Livewire/Organizations/Goals/GoalDetails.php
Due: ./vendor/bin/pint, ./vendor/bin/rector

feat: checkins
  app/Actions/CreateCheckin.php
  app/Actions/DestroyCheckin.php
  app/Actions/UpdateCheckin.php
  app/Http/Controllers/CheckinController.php
  app/Http/ViewModels/CheckinViewModel.php
  app/Livewire/Organizations/Cycles/Toggle.php
  app/Models/Checkin.php
  app/Models/Cycle.php
  bun.lockb
  database/factories/CheckinFactory.php
  database/migrations/2024_12_03_115324_create_checkins_table.php
  package.json
  phpstan.neon
  resources/css/app.css
  resources/views/livewire/organizations/goals/goal.blade.php
  resources/views/navigation-menu.blade.php
  resources/views/organizations/cycles/checkins/index.blade.php
  resources/views/organizations/cycles/goals/index.blade.php
  resources/views/organizations/show.blade.php
  routes/web.php
  tests/Unit/Actions/CreateCheckinTest.php
  tests/Unit/Actions/DestroyCheckinTest.php
  tests/Unit/Actions/UpdateCheckinTest.php
  tests/Unit/Models/CheckinTest.php
  tests/Unit/Models/CycleTest.php
Due: prettier --write, ./vendor/bin/pint, ./vendor/bin/rector
